@use '../utils/flex-patterns' as *;
@use '../utils/mixins' as *;
@use '../settings/functions' as *;

.header {
  padding: spacing('xs', 'xs');
  margin: spacing('sm');
  background-color: color('white');
  border-radius: radius('mdl');

  &__content {
    @include flex-align-center-gap(spacing('lg'));
  }

  .logo {
    cursor: default;
    @include flex-align-center;
    text-transform: uppercase;

    &__img {
      margin-right: spacing('xs');
      width: 28px;
      max-width: 28px;
    }

    &__text {
      font-size: inherit;

      span {
        display: block;

        &:first-child {
          font-weight: font-weight('black');
          letter-spacing: 0.05rem;
          color: color('primary');
        }

        &:last-child {
          margin-top: -(spacing('xxs'));

          font-size: 0.65rem;
          font-weight: font-weight('medium');
          font-style: italic;
          letter-spacing: 0.03rem;
          color: color('text-third');
        }
      }
    }
  }

  &__search-form,
  &__search-wrapper,
  &__search-input {
    width: size('full');
  }

  &__search-form {
    @include flex-gap(spacing('sm'));
  }

  &__search-wrapper {
    position: relative;

    &::before {
      content: 'search';
      position: absolute;
      top: 50%;
      left: spacing('sm');
      transform: translateY(-50%);

      font-family: 'Material Symbols Outlined';
      font-size: font-size('xl');
      color: #b3b3b3;

      @include material-symbol('search', $opsz: 24);
    }
  }

  &__search-input {
    padding-left: 40px;
  }

  &__btns {
    @include flex-gap(spacing('xs'));
  }
}
