@use '../utils/flex-patterns' as *;
@use '../settings/functions' as *;

body {
  &.sidebar-open {
    margin-right: component-size('sidebar') + spacing('sm');
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -(component-size('sidebar') + spacing('sm'));
  transition: right 0.3s ease;

  margin: spacing('sm');

  width: component-size('sidebar');
  height: calc(size('screen-h') - spacing('lg'));
  background-color: color('white');
  border: 1px solid color('border-divider');
  border-radius: radius('mdl');

  &--open {
    right: 0;
  }

  &__close {
    background-color: color('transparent');

    &:hover {
      transform: rotate(360deg);
      color: color('primary');
    }
  }

  &__header {
    @include flex-between-center;
    padding: spacing('lg');
    border-bottom: 1px solid color('secondary');
  }

  &__title {
    cursor: default;
    color: color('text-secondary');
  }

  &__content {
    padding: spacing('lg');
  }

  &__settings-list {
    @include flex-col-gap(spacing('xs'));
  }

  &__settings-btn {
    justify-content: center;
    width: size('full');
  }
}
