@use '../settings/functions' as *;

body {
  box-sizing: border-box;

  background-color: color('secondary');

  font-family: font-family('main');
  font-size: font-size('base');
  color: color('text-primary');
}

.container {
  padding: 0 15px;
  margin: spacing('center');
  max-width: 1200px;
}
