// =============
// Flex паттерны
// =============

@mixin d-flex {
  display: flex;
}

@mixin flex-col {
  @include d-flex;
  flex-direction: column;
}

@mixin flex-gap($gap: 1rem) {
  @include d-flex;
  gap: $gap;
}

@mixin flex-between-center {
  @include d-flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  @include d-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  @include flex-col;
  justify-content: center;
  align-items: center;
}

@mixin flex-align-center {
  @include d-flex;
  align-items: center;
}

@mixin flex-align-center-gap($gap: 1rem) {
  @include flex-align-center;
  gap: $gap;
}

@mixin flex-align-end {
  @include d-flex;
  align-items: flex-end;
}

@mixin flex-align-end-gap($gap: 1rem) {
  @include flex-align-end;
  gap: $gap;
}

@mixin flex-wrap {
  @include d-flex;
  flex-wrap: wrap;
}

@mixin flex-wrap-gap($gap: 1rem) {
  @include flex-wrap;
  gap: $gap;
}
