@use '../../utils/mixins' as mixins;
@use '../../utils/flex-patterns' as *;
@use '../../settings/functions' as *;

.chat {
  @include flex-col;
  justify-content: space-between;
  height: 100%;

  &__form-container {
    padding: spacing('sm', '0');
  }

  &__form {
    position: relative;
    @include flex-align-end-gap(spacing('xs'));

    padding: spacing('sm');

    width: size('full');

    background-color: color('white');
    border: 1px solid color('border-divider');
    border-radius: radius('mdl');
  }

  &__textarea {
    width: size('full');
  }

  .btn {
    height: max-content;
  }

  // Предпросмотр прикрепленных файлов
  .form-att-prev {
    position: absolute;
    bottom: 85px;
    right: 0;
    overflow-y: auto;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 100;

    @include flex-col-gap(spacing('sm'));

    padding: spacing('sm');

    max-width: 362px;
    max-height: 400px;
    height: max-content;
    background-color: color('white');
    border: 1px solid color('border-divider');
    border-radius: radius('mdl');

    &.hidden {
      bottom: 0;
      opacity: 0;
      height: 0;
      z-index: -1;
    }

    &__section {
      @include flex-col;

      &:not(:last-child) {
        padding-bottom: spacing('sm');
        border-bottom: 1px solid color('border-divider');
      }

      &--images {
        .form-attachments-preview__list {
          @include flex-wrap-gap(spacing('xs'));
        }
      }

      &--videos,
      &--audios {
        .form-attachments-preview__list {
          display: flex;
          flex-direction: column;
          gap: spacing('xs');
        }
      }
    }

    &__section-title {
      @include mixins.files-section-title;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: spacing('xs');
    }

    &__image-wrapper {
      position: relative;
      width: max-content;
    }

    &__file-icon {
      @include flex-center;

      width: 100px;
      height: 100px;
      background-color: color('secondary');
      border-radius: radius('sm');

      .material-symbols-outlined {
        font-size: font-size('3xl');
        color: color('text-secondary');
      }
    }

    &__image {
      width: 100px;
      max-width: 100px;
      height: 100px;
      border-radius: radius('sm');
      object-fit: cover;
    }

    &__remove {
      position: absolute;
      top: 0;
      right: 0;

      @include flex-center;

      padding: 0;
      width: 24px;
      height: 24px;
      background-color: color('accent');

      font-size: inherit;
      color: color('white');

      & > .material-symbols-outlined {
        font-size: inherit;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        background-color: color('primary');

        & > .material-symbols-outlined {
          transform: rotate(360deg);
        }
      }
    }

    &__name {
      display: inline-block;
      cursor: default;

      margin-top: spacing('xs');

      width: 100px;
      overflow: hidden;

      font-size: font-size('xs');
      color: color('text-secondary');
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
