@use '../../utils/flex-patterns' as *;
@use '../../settings/functions' as *;

.msg-dropdown {
  position: relative;

  &__more {
    padding: spacing('xxs');
    background-color: color('white');
    border-radius: radius('full');
    font-size: size('sm');

    &:hover {
      color: color('primary');
    }
  }

  &__list {
    position: absolute;
    bottom: 36px;
    right: 0;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;

    padding: spacing('xxs');
    background-color: color('white');
    border-radius: radius('sm');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &.hidden {
      display: block;
      opacity: 0;
      transform: translateY(48px);
      z-index: -1;
    }

    &:not(.hidden) {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__button {
    @include flex-align-center-gap(spacing('xxs'));

    padding: spacing('xs');
    width: size('full');
    background-color: color('transparent');
    border-radius: radius('xs');

    &:not(&--delete):not(:disabled):hover {
      background-color: color('secondary');
    }

    &--delete {
      &:not(:disabled):hover {
        background-color: color('accent');

        .msg-dropdown__icon,
        .msg-dropdown__text {
          color: color('white');
        }
      }
    }
  }

  &__icon {
    font-size: font-size('xl');
  }

  &__text {
    width: max-content;
    font-size: font-size('xs');
  }
}
